<div class="container container__form">
  <ul>
    <% if @cart.empty? %>
      <p>No items in cart.</p>
    <% else %>
      <% @cart.each do |item| %>
        <li><%= link_to item.title, item %> - <%= number_to_currency item.price %> - <%= link_to 'Remove from Cart', remove_from_cart_path(item.id), method: :delete %></li>
      <% end %>
    <% end %>
  </ul>
</div>