/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// RESET * and html
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // make 1rem == 10px rather than 16px
  font-family: 'Open Sans', sans-serif;
}

body {
  transition: all ease-in-out 0.3s;
  overflow-x: hidden;
}

//  NAVBAR
 li {
     list-style: none;
     text-decoration: none;
     font-size: 3rem;
     a {
	color: #000000;
	}
 }

.main {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

// Containers
 .container {
    height: 100vh;
    width: 100%;
    // margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 3rem;
    .field {
        margin: 30px 0;
        .label {
            display: block;
        }
    }
    .shared_links {
        margin: 30px 0;
        text-align: center;
    }
    .cancel_account {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 40px 0;
        width: 100%;
    }
    &__form {
	color: #000000;

    }
    &__item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	width: 100%;
	&--info {
		display: flex;
		flex-direction: column;
		margin: 0 0 100px 0;
		border-bottom: 2px solid #c0c0c0;
		&--image {
			width: 100%;
			height: auto;
		}
		&--text {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			p {
				margin: 10px 20px 20px 0px;
			}
		}
	}
    }
 }

 .back {
	margin-bottom: 60px;
 }
