/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// RESET * and html
// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html {
//   font-size: 62.5%; // make 1rem == 10px rather than 16px
//   font-family: 'Open Sans', sans-serif;
// }

body {
  transition: all ease-in-out 0.3s;
  overflow-x: hidden;
}

//  NAVBAR
 li {
     list-style: none;
     text-decoration: none;
     a {
	color: #000000;
	}
 }

.main {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

// Containers
 .container {
    height: 100vh;
    width: 100%;
    // margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    .field {
        margin: 30px 0;
        .label {
            display: block;
        }
    }
    .shared_links {
        margin: 30px 0;
        text-align: center;
    }
    .cancel_account {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 40px 0;
        width: 100%;
    }
    &__form {
    color: #000000;
    text-align: left;

    }
    &__s {
        margin: 0 auto;
        width: 800px;
        &--dec {
            margin: 20px 0 20px 10px;
            font-size: 16px; 
        }
        &--wish {
            margin: 30px 10px 10px;
        }
        &--link {
            margin: 30px 0 0 10px;
        }
        &--linke {
            margin: 30px 0 0 10px;
        }
        &--cart {
            margin: 10px 0 0 600px;
        }
    }
    &__show {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        p {
            margin: 10px 0 10px 10px;
        }
        &--title {
            font-size: 26px;
        }
        &--cat {
            color: rgb(23, 95, 202);
            font-size: 20px;
            text-align: right;
        }
        &--price {
            font-size: 18px;
        }
    }
    &__item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	width: 100%;
	&--info {
		display: flex;
		flex-direction: column;
		margin: 0 0 100px 0;
		border-bottom: 2px solid #f0f0f0;
		&--image {
			width: 100%;
			height: auto;
		}
		&--text {
			display: grid;
			grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
			p {
				margin: 10px 4px 20px 4px;
            }
            &__cat {
                text-align: right;
                color: rgb(23, 95, 202);
            }
		}
	}
    }
 }

 .back {
	margin-bottom: 60px;
 }

 .wishlist {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    &__item {
        padding: 10px;
        text-align: center;
        &--image {
            padding-right: 10px;
        }
        &--text {
        }
    }
 }

 .footer {
     background-color: #e0e0e0;
     height: 40px;
     width: 100%;
     text-align: right;
     padding: 8px 10px 0 0;
     position: fixed;
     bottom: 0;
 }